<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	  <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
	  <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app" class="container">

		<div class="row">
			<div class="col-sm-12">
				<form class="form-inline">
					<label for="ipAddress">IP Address:</label>
					<input id="ipAddress" type="text" class="form-control" value="127.0.0.1">
					<label class="port" for="port">Port:</label>
					<input id="port" class="form-control port" value="5741" type="text">
					<button v-on:click="connectTelnet()" class="btn btn-secondary port" type="button">Connect to EGM</button>
          <p class="text-right">{{ isConnected }}</p>
        </form>
			</div>
		</div>

		<div class="row main">
			<div class="col-sm-2">
				<div v-for="value in commands" class="doors">
          <div v-if="value.type==='door'">
					  <p>{{ value.name }}</p>
					  <button v-on:click="value.isOpen=true, sendCommand(value)" class="btn btn-secondary btn-sm"><img src="icons8-Door Closed Filled-50.png"></button><button v-on:click="value.isOpen=false, sendCommand(value)" class="btn btn-secondary btn-sm"><img src="icons8-Door Opened Filled-50.png"></button>
          </div>
        </div>
			</div>

			<div class="col-sm-2">
				<div class="row">
					<div class="col-sm-12">
						<div class="commands">
							<p>Commands</p>
							<div class="list-group">
								<button v-for="value in commands" v-if="value.type==='command'" v-on:click="sendCommand(value)" type="button" class="list-group-item list-group-item-action">{{ value.name }}</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="currency">
							<p>Currency</p>
							<div class="list-group">
								<button v-for="value in commands" v-if="value.type==='currency'" v-on:click="sendCommand(value)" type="button" class="list-group-item list-group-item-action">${{ value.name }}</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="input-area">
					<p>Input</p>
					<textarea id="input" class="form-control" v-model="input"></textarea>
				</div>
        <div class="row input-area-btns">
          <div class="col-sm-6">
            <button v-on:click="sendValues()" class="btn btn-secondary btn-block" type="button">Send</button>
          </div>
          <div class="col-sm-6">
            <button v-on:click="clearInput()" class="btn btn-secondary btn-block" type="button">Clear</button>
          </div>
        </div>
      </div>
			<div class="col-sm-5">
				<div class="output-area">
					<p>Output</p>
					<textarea id="output" class="form-control" disabled>{{ output }}</textarea>
				</div>
        <div class="row">
          <div class="col-sm-12">
            <button v-on:click="clearOutput()" class="btn btn-secondary btn-block" type="button">Clear</button>
          </div>
        </div>
			</div>
		</div>

	</div>

	<script src="vue.js"></script>
	<script src="app.js"></script>
    <script>
		// You can also require other files to run in this process
		require('./lib/renderer.js')
	</script>
  </body>
</html>
